[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pythonwhois-alt = "==2.*"
tldextract = "==5.*"

[dev-packages]
coverage = "==7.*"
parameterized = "==0.9.*"
pycodestyle = "==2.*"
pylint = "==3.*"
